$color__primary: #e6edf0;
$color__white: #fff;
$color__orange: #66c0ec;
$color__light-grey: #cad9d9;
$color__mid-grey: #aaa;
$color__dark-grey: #666;
$color__light-black: #313537;
$color__black: #3e4244;

$color__background-body: $color__black;
$color__background-hr: $color__light-black;
$color__background-pre: $color__light-black;
$color__background-ins: $color__dark-grey;
$color__background-screen: $color__light-grey;

$color__text-input: $color__light-black;
$color__text-input-focus: $color__light-grey;
$color__text-screen: $color__primary;

$color__background-button: transparent;
$color__background-button-hover: $color__orange;

$color__link: $color__orange;
$color__link-visited: $color__orange;
$color__link-hover: $color__orange;
$color__text-main: $color__primary;
$color__text-headings: $color__dark-grey;

$color__border-abbr: $color__light-black;
$color__border-button: $color__orange;
$color__border-button-hover: $color__orange;
$color__border-button-focus: $color__orange;
$color__border-input: $color__light-black;
$color__border-input-focus: $color__light-grey;