.widget {
	margin: 0 0 3em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget_calendar td#next {
	text-align: right;
}

.widget-title {
	font-size: $font__size-default;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0 0 .75em;
}
/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget_search .search-field {
	width: 100%;
}